<div class="list margin-10">
    
<form action="forget.php" method="post"> 
    
<label class="item item-input">
<span class="input-label">Enter your E-mail</span>
<input type="text"  name="uEmail" placeholder="Username" required="" />
     <br />
</label>
    
<label class="item item-input">
<span class="input-label">New Password</span>
<input type="password" name="uPass" placeholder="New Password" required="" />
     <br />
</label>
    
<label class="item item-input">
<span class="input-label">Re-Enter Your Password</span>
<input type="password" name="uRePass" placeholder="Confirm Password" required="" />  
     <br />
</label>

<input class="button button-block button-positive" type="submit" name="submit" value="Update">

    
    <!--<a class="button button-block button-positive" href="#login">Submit  </a>
    <a class="button button-block button-positive" href="#reset">Submit  </a>-->
</form>
</div>  

<!--<div class="margin-15">
      <form>
      <fieldset>
          <label for="name">Re-Enter your E-mail</label>
          <input type="text" id="name" name="user_name" placeholder="Username">
       </fieldset>
       <center> <a class="button button-calm" href="#reset">Submit </a></center>
</form>
</div>-->

