   <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
  
  <br><br></br></br>


      <form action="index.html" method="post">
      
        
        <fieldset>
          <label for="name">Re-Enter your E-mail</label>
          <input type="text" id="name" name="user_name" placeholder="Username">
          
          
        </fieldset>
        <center> <a class="button button-calm" href="#reset">Submit </a></center>
</form>
  