<div ng-controller="loginCtrl">
<br><br><br></br></br></br>
<div class="login-card">
    <h1>Log-in</h1><br>
<form>
      <label for="name">E-mail:</label><input type="text" name="user" placeholder="Username">
      <label for="password">Password:</label><input type="password" name="pass" placeholder="Password">
     <center> <a class="button button-calm" href="#log">Login </a></center>
</form>
    
<div class="login-help">
    <a href="#register"><h4>Register</h4></a><a href="#forgot"><h4>Forgot Password</h4></a>
</div>
</div>


    
 
    
    
    
    
  

