  
  
  <br><br></br></br>


      <form action="index.html" method="post">
      
        <h1>Sign Up</h1>
        
        <fieldset>
          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name" placeholder="Full Name">
          
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email" placeholder="Username">
          
          <label for="age">Age:</label>
          <input type="text" id="age" name="user_age" placeholder="Age">
            
          <label for="password">Password:</label>
          <input type="password" id="password" name="user_password" placeholder="Password">
        </fieldset>
    <center> <a class="button button-calm" href="#signup">Sign Up </a></center>
      </form>
  