<div class="list margin-10">
<form action="insert.php" method="post"> 
    
  <label class="item item-input">
    <span class="input-label">Name :</span>
    <input type="text" ng-model="usname" placeholder="User Name" name="uName" required="" />
    <div ng-messages="form.uName.$error">
 
</div>
  </label>
           
  <label class="item item-input">
    <span class="input-label">Email-ID :</span>
    <input type="email" ng-model="usemail" placeholder="Email-Id" name="uEmail" required="" />
    <br />
    <div ng-messages="form.$submitted || form.uEmail.$touched">

    </div>
  </label>
    
    
  <label class="item item-input">
    <span class="input-label">Password :</span>
    <input type="password" ng-model="uspassword" placeholder="Your Password" name="uPassword" required="" />
    <br />
 
  </label>
           
           
  <label class="item item-input">
    <span class="input-label">Age :</span>
    <input type="text" ng-model="usage" placeholder="Your Age" name="uAge" required="" />
    <br />

            
  </label>

    <input class="button button-block button-positive" type="submit" name="submit" value="Register">
      </form>   
</div>    


<!--<div class="margin-8">
  <form name="form">
      <h1>Sign-Up</h1>
      <label for="age">Name:</label>
    <input type="text" ng-model="usname" placeholder="User Name" name="uName" required="" />
    <br />
    <div ng-show="form.$submitted || form.uName.$touched">
        <div ng-show="form.uName.$error.required"> Tell us your name.</div>
    </div>

      <label for="age">E-mail:</label>
    <input type="email" ng-model="usemail" placeholder="Email-Id" name="uEmail" required="" />
    <br />
    <div ng-show="form.$submitted || form.uEmail.$touched">
      <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        
    </div>

     <label for="age">Age:</label>
          <input type="text" ng-model="usage" placeholder="Your Age" name="uAge" required="" />
    <br />
    <div ng-show="form.$submitted || form.uAge.$touched">
        <div ng-show="form.uAge.$error.required"> Tell us your age.</div>
    </div>
            
          <label for="password">Password:</label>
         <input type="password" ng-model="uspassword" placeholder="Your Password" name="uPassword" required="" />
    <br />
    <div ng-show="form.$submitted || form.uPassword.$touched">
        <div ng-show="form.uPassword.$error.required"> Tell us your Password.</div>
    </div>
          
          
       <center> <a class="button button-calm" href="#signup" ng-disabled="form.$invalid || form.$pending ng-click="submitFunction1()">Sign Up </a></center>
</form>
</div> -->
           
